.head {
    position: fixed;
    top: 0;
    bottom: 0;
    background-color:#2e2a2a;
    height: 8vh;
    width: 100vw;
    display: flex;
    align-items: center;
    gap: 20px;

    .ant-select-selector {
        background-color: #2e2a2a !important;
        color: white !important;
        width: 190px;

    }
    .nonefun
    {
        display: none;
    }

    .ant-select-selector:-webkit-scrollbar {
        display: none
    }

    h1 {
        color: white;
    }

    // .ant-select-item-option-content
    // {
    //     background-color:gray !important;
    //     color: white !important;
    //     width: 180px !important;
    // }


    .ant-select-dropdown {
        background-color: #2e2a2a !important;
        color: white;
    }

    span {
        color: white !important;

    }

    h4 {
        color: white;
        margin: 20px;
    }
}